//COLORS
$color-white: #fff;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gap-horizontal: 6rem; //X-AXIS
$gap-vertical: 8rem; //Y-AXIS
$gap-vertical-small: 6rem;