//COLORS

$color-primary-light: #D89CF6;
$color-primary: #9264B8;
$color-primary-dark: #8631b7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gap-horizontal: 6rem; //X-AXIS
$gap-vertical: 8rem; //Y-AXIS
$gap-vertical-small: 6rem;