main{
    background: #f7f7f7;
}
.section-features{
    padding: 10rem 8rem;
    @include respond(tabport){
        padding: 7rem 5rem;
    }
}
.section-benefits{
    padding: 8rem;
    
    
    @include respond(tabland) {
        padding: 6rem;
        .benefits-img{
            img{
                width: 350px;
                height: auto;
            }
        }
    }

    @include respond(tabport) {
        padding: 5rem;
        .benefits-img{
            text-align: center;
            margin: 0 auto;
            img{
                height: 300px;
                width: auto;
            }
        }

        .benefits__details{
            text-align: center;
        }
    }

}

.section-news{
    padding: 10rem 8rem;
    .heading_container{
        text-align: center;
        
    }

    @include respond(phone) {
        padding: 7rem 5rem;
    }
}

.section__download{
    padding: 10rem 8rem;
    background-image: linear-gradient(120deg, $color-primary-light, $color-primary-dark);
}